<body>

  <header id="masthead">
    <a href="/" title="Veeran The Hero">Veeran The Hero</a>
  </header>

  <br>
  
  <nav>
    <a href="/blog.html">Blog</a>
    <a href="/about.html">About</a>
    <a href="/contact.html">Contact</a>
  </nav>

  <article id="main-content">
