<p>
This is the website where I share things I learn as a programmer and my personal projects.

<h3>Latest Blog Posts</h3>
<ul>
  <li> Post1
  <li> Post2
  <li> Post3
</ul>

<h3>Latest Projects</h3>
<ul>
  <li> Project1
  <li> Project2
  <li> Project3
</ul>
