<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= @page_title %></title>

<!-- link rel="alternate" type="application/atom+xml" title="Prasanna Natarajan" href="/en.atom" -->

<style>
</style>

</head>

<body>

<section id="masthead">

<h1><a href="/" title="Prasanna Natarajan">Prasanna Natarajan</a></h1>
<small>Programmer</small>

</section>

<div id="content">
